.skills p {
  font-size: 1rem;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.skills h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
  transition: 0.4s;
  margin-bottom: 2rem;
}

.card h3 {
  font-size: 1.4rem;
}

.card-text li {
  margin-bottom: 0.5rem;
}

.card:hover {
  transition: 0.6s;
  background-color: #212529;
  color: #f8f9fa;
  transform: translateY(-1rem);
}

.card-black {
  background-color: #212529;
  color: #f8f9fa;
}

.card-black:hover {
  transition: 0.6s;
  background-color: #003399;
  transform: translateY(-1rem);
}

@media (min-width: 768px) {
  .skills p {
    font-size: 1.2rem;
  }

  .skills h2 {
    font-size: 2.8rem;
  }

  .card h3 {
    font-size: 1.4rem;
  }

  .card {
    margin-bottom: 1rem;
  }

  .card-text li {
    margin-bottom: 1rem;
  }
}
