.skills p {
  font-size: 1.2rem;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card h2 {
  font-size: 56px;
}

.card{
  transition: 0.4s;
}

.card:hover {
  transition: 0.3s;
  background-color: #212529;
  color: #f8f9fa;
  transform: translateY(-1rem);
}

.card-black{
  background-color: #212529;
  color: #f8f9fa;
}

.card-black:hover{
  transition: 0.3s;
  background-color: #003399;
  transform: translateY(-1rem);
}