.full-screen{
    min-height: -webkit-calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
}

.home h1{
    font-size: 4.5rem;
}

.home h2{
    font-size: 3rem;
}

.home p{
    font-size: 1.2rem;
}

.buttons-style{
    display: flex;
    justify-content: space-between;
}

.buttons-style .btn{
    width: 150px;
    background-color: #003399;
    color: #fff;
    transition: 0.3s;
}

.buttons-style .btn:hover{
    background-color: #006b99;
    color: #fff;
}

.buttons-style .btn:last-child{
    background-color: #030303;
}

.buttons-style .btn:last-child:hover{
    background-color: #4b4b4b;
}