@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #333333;
}

hr{
  width: 50%;
  margin: auto;
}

.home-full-screen{
  padding: 2rem 0rem;
}

.full-screen{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}