@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1400px) {
}
